div > .vimiumHintMarker {
  background: #ff9bd0 !important;
  color: #2c0929 !important;
  border: 1px solid #dc62a3 !important;
  font-weight: bold;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.1s;
}

div > .vimiumHintMarker span {
  color: #2c0929 !important;
  font-weight: bold;
  font-size: 12px;
}

div > .vimiumHintMarker > .matchingCharacter {
  color: #92256e !important;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
